<div>
    <ol>
        <li> <button  routerLink="" routerLinkActive="active">home</button></li>
        <li> <button  routerLink="/post" routerLinkActive="active">post</button></li>
       
       
    </ol>
</div>
<!-- <app-card [titoloFiglio]="titoloPadre()" (onNameChange)="getOutput($event)" (mioOutput)="provaOutput($event)">
    <div>
        contenuto ng-content
    </div>


</app-card>
<app-template-form></app-template-form>
<app-reactive-form (outputForm)="provaFormOutput($event)" ></app-reactive-form> -->

<!-- <app-ripasso-componenti (datiForm)="nuoviDatiForm($event)" ></app-ripasso-componenti> -->
<!-- <app-http></app-http>
<app-operatori-rxjs></app-operatori-rxjs> -->
<!-- 
<button type="button" (click)="aperturaModale()">Apertura modale</button>
<button type="button" (click)="getPosts()">GET posts</button> -->
<!-- <button type="button" (click)="padreOutput('Girolamo')">padre dell'output</button> -->
<!-- <button type="button" (click)="createPost()">POST - creazione</button> -->

<!-- <app-form-edit-post (datiALpadre)="ricezioneDatiForm($event)" [editDatiForm]="postTOedit()"></app-form-edit-post>
@if(posts){
<div>
    @let postsList = posts;

    @for(post of postsList; track post.id){
    <div>
        <app-card [titoloFiglio]="post.id+'-'+ post.title">
            <button (click)="getPost(post.id)">
                dettagli elemento
            </button>
            <button type="button" (click)="editPost(post)">
                EDIT Post - modifica
            </button>
            <button type="button" (click)="deletePost(post.id)">
                DELETE Post - elimina
            </button>
            
        </app-card>
       
        <br>
    </div>
    }
</div>
} -->
<!-- componente dinamico  -->
<!-- <app-card [titoloFiglio]="'ciao'">
            <h1>placeholder</h1>
        </app-card> -->


<router-outlet />